#leader-board {
  margin: 2% auto;
  padding: 0 5%;
  max-width: 1200px;

  button {
    font-size: 3vmin;
  }

  .loader {
    margin-top: 5%;
  }

  .error {
    margin: 5% 0;
    font-size: 4vmin;
  }

  a {
    cursor: pointer;
  }
}
